node_modules
npm-debug.log
.git
.gitignore
*.log
dist

# yarn (ref https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/
.yarn-cache/

.eslintcache/

.vscode/
*.envrc
*.env
