node_modules
personal
.eslintcache
artifact_docker.sh
dist/*
!dist/.gitkeep

# yarn (ref https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vscode/
*.envrc
*.env

test.*
