sudo: false

language: node_js

node_js:
  - 10

install:
  - npm install -g npm@latest
  - npm install
  - npm install --save-dev ci-toolbox@latest

# addons:
#   artifacts:
#     s3_region: us-west-2
#     paths:
#       - $(git ls-files -o deploy/*/*-*.tar.gz | tr "\n" ":")
#     target_paths:
#       - /
env:
  global:
    - BUILD_SOUP=true

deploy:
  # Control deployment by setting a value for `on`. Setting the `branch`
  # option to `master` means Travis will only attempt a deployment on
  # builds of your repo's master branch (e.g., after you merge a PR).
  - provider: s3
    edge: true
    on:
      tags: true
    # You can refer to environment variables from Travis repo settings!
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: $AWS_DEFAULT_REGION
    # Name of the S3 bucket to which your site should be uploaded.
    bucket: $AWS_BUCKET
    # Prevent Travis from deleting your built site so it can be uploaded.
    skip_cleanup: true
    # Path of the source directory containing your built site.
    local_dir: deploy
    # Path to a directory containing your built site.
    upload-dir: deploy
    # Set the Cache-Control header.
    cache_control: "max-age=21600"
  # Deploy SOUP list
  - provider: s3
    edge: true
    on:
      tags: true
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: $AWS_DEFAULT_REGION
    bucket: com.diabeloop.yourloops.doc
    skip_cleanup: true
    local_dir: doc/soup
    upload_dir: soup/export
    cache_control: "max-age=21600"

services:
  - docker

script:
  - npm run lint
  - npm run audit
  - ./artifact.sh
